.header {
  width: 100%;
  padding: 5px 0;
  background: #e5f6fd;
  color: #014361;
  align-items: center;
  justify-content: center;
}

.parentContainer {
  margin: 50px;
}

.infoContainer {
  display: block;
  box-sizing: inherit;
  margin-top: 1rem;
  background-color: #262630;
  padding: 10px;
}
.skeletonContainer {
  display: block;
  box-sizing: inherit;
  margin-top: 1rem;
  background-color: lightgray;
  padding: 10px;
  height: 200px;
}

.titleText {
  text-align: center;
  font-size: 26px;
  font-weight: 800;
  color: #bdfef2;
}

.descText {
  font-size: 14px;
  color: #fff;
  line-height: 24px;
  flex-wrap: wrap;
  padding: 10px;
}

.infoText {
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  color: #fff;
}
